*{box-sizing: border-box; outline: none;}

/* *FONTS */
  /* guld_script */
  @font-face{
    font-family: 'guld_script';
    src: url('../fonts/guldscript/guldscript-webfont.eot');
    src: url('../fonts/guldscript/guldscript-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/guldscript/guldscript-webfont.woff2') format('woff2'),
         url('../fonts/guldscript/guldscript-webfont.woff') format('woff'),
         url('../fonts/guldscript/guldscript-webfont.ttf') format('truetype'),
         url('../fonts/guldscript/guldscript-webfont.svg#guld_script_personal_use_onRg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /*  open_sans - 400, 600, 400italic, 700, 300
      font-family: 'Open Sans', sans-serif;
  */

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #000000 url('../images/design/bg/background.png') no-repeat center top;
}

header{background: rgba(0, 0, 0, 0.25)}

/* *Edit bootstrap */
.navbar{border-radius: 0; border: 0;}
.navbar-inverse{background: transparent;}
.navbar .navbar-nav .active a{
  background-color: #1E3049;
  color: #00A0FC;
}

.navbar .navbar-brand.brand{
  color: white;
  font-family: 'guld_script';
  font-size: 38px;
  font-weight: normal;
}

.navbar-form .form-control{
  border-radius: 0;
  border: none;
  box-shadow: 0 0 5px 0 #fff;
  color: rgba(0,0,0,0.5);
}

.navbar-form .form-group{
  position: relative;
}

.navbar-form button[type="submit"]{
  background: transparent;
  border-radius: 0;
  border: none;
  color: rgba(0,0,0,0.5);
  font-size: 20px;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
}

.navbar .navbar-nav .navbar-form{
  padding-top: 4px;
}
.navbar .navbar-nav .navbar-form .form-control{
  border-radius: 2px;
}

@media screen and (min-width: 720px) {
  .navbar .navbar-nav .navbar-form .form-control{
    width: 220px;
  }
}

.slider-main img{max-height: 260px; width: 100%;}

.slider-main .slick-prev, .slick-next{
  background: url(../images/design/icons/arrows.png) no-repeat 0 0;
  border: none;
  color: transparent;
  display: block;
  height: 23px;
  position: absolute;
  right: 0;
  width: 25px;
  z-index: 100;
}
.slick-slide{margin-right: 5px;}

.slick-track{margin-bottom: 10px;}

.slider-main .slick-prev{top: 25%;}

.slider-main .slick-next{background-position: 0 -28px; top: calc(25% + 30px);}

.slider-main .slick-dots{
  padding: 0;
  text-align: center;
  margin: 0 auto;
}

.slider-main .slick-dots li{display: inline-block;}

.slider-main .slick-dots li button{
  background: url(../images/design/icons/slider-dots.png) no-repeat 0 0;
  border: none;
  color: transparent;
  overflow: hidden;
  height: 15px;
  width: 14px;
}

.slider-main .slick-dots li.slick-active button{
  background-position: -14px 0;
}

.slider-item{
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  position: relative;
}

.slider-item h2,h3{
  bottom: 0;
  font-size: 24px;
  left: 5%;
  position: absolute;
  width: 90%;
}
.slider-item h2{bottom: 30px;}
.slider-item h3{font-family: 'guld_script'; font-weight: normal;}

.slider-item:not(.slick-center){
  opacity: 0.70;
  color: transparent;
}

.slider-item.slick-active{opacity: 1;}

.more{
  background: url(../images/design/icons/more-dots.png) no-repeat center center;
  display: inline-block;
  height: 5px;
  width: 20px;
}

.white{color: #fff;}











